<div class="index">
  <div class="container">
    <h1>Books</h1>
    <div id="app">
      <div class="row">
        <div class="search">
          <input type="text" v-model="search" placeholder="Search title.."/>
        </div>
      </div>
      <div class="row">
        <div class="selection">
          <select v-model="sort" class="custom-select">
            <option value="">Sort by</option>
            <option v-for="item in options" v-bind:value="item">
              {{item}}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-3 d-flex flex-nowrap" v-for="item in filteredList ">
          <div class="card">
            <img class="card-img-top" v-bind:src="item.attributes.image" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{item.attributes.name}}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                <small><b>Author:</b> {{item.attributes.author}}</small>
              </p>
              <a v-bind:href="item.attributes.url" class="btn btn-primary">more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center buttons">
        <button class="btn btn-info btn-sm" v-show="links.prev" @click="changePage(links.prev)">prev</button>
        <button class="btn btn-info btn-sm" v-show="links.next" @click="changePage(links.next)">next</button>
      </div>
    </div>
  </div>
</div>